$palette: (
  'mono': (
    'black': rgb(0, 0, 0),
    'white': rgb(255, 255, 255),
  ),
  'gray-blue': (
    900: rgb(15, 23, 42),
    800: rgb(30, 41, 59),
    700: rgb(51, 65, 85),
    600: rgb(71, 85, 105),
    500: rgb(100, 116, 139),
    400: rgb(148, 163, 184),
    300: rgb(203, 213, 225),
    200: rgb(226, 232, 240),
    100: rgb(241, 245, 249),
  ),
  'gray-cool': (
    900: rgb(17, 24, 39),
    800: rgb(31, 41, 55),
    700: rgb(55, 65, 81),
    600: rgb(75, 85, 99),
    500: rgb(107, 114, 128),
    400: rgb(156, 163, 175),
    300: rgb(209, 213, 219),
    200: rgb(229, 231, 235),
    100: rgb(243, 244, 246),
  ),
  'gray': (
    900: rgb(24, 24, 27),
    800: rgb(39, 39, 42),
    700: rgb(63, 63, 70),
    600: rgb(82, 82, 91),
    500: rgb(113, 113, 122),
    400: rgb(161, 161, 170),
    300: rgb(212, 212, 216),
    200: rgb(228, 228, 231),
    100: rgb(244, 244, 245),
  ),
  'gray-true': (
    900: rgb(23, 23, 23),
    800: rgb(38, 38, 38),
    700: rgb(64, 64, 64),
    600: rgb(82, 82, 82),
    500: rgb(115, 115, 115),
    400: rgb(163, 163, 163),
    300: rgb(212, 212, 212),
    200: rgb(229, 229, 229),
    100: rgb(245, 245, 245),
  ),
  'gray-warm': (
    900: rgb(28, 25, 23),
    800: rgb(40, 37, 36),
    700: rgb(67, 64, 60),
    600: rgb(86, 83, 79),
    500: rgb(119, 113, 109),
    400: rgb(167, 162, 158),
    300: rgb(213, 211, 208),
    200: rgb(231, 229, 228),
    100: rgb(245, 245, 244),
  ),
  'indigo': (
    900: rgb(49, 46, 129),
    800: rgb(55, 48, 163),
    700: rgb(67, 56, 202),
    600: rgb(79, 70, 229),
    500: rgb(99, 102, 241),
    400: rgb(129, 140, 248),
    300: rgb(165, 180, 252),
    200: rgb(199, 210, 254),
    100: rgb(224, 231, 255),
  ),
  'violet': (
    900: rgb(76, 29, 149),
    800: rgb(91, 33, 182),
    700: rgb(109, 40, 217),
    600: rgb(124, 58, 237),
    500: rgb(139, 92, 246),
    400: rgb(167, 139, 250),
    300: rgb(196, 181, 253),
    200: rgb(221, 214, 254),
    100: rgb(237, 233, 254),
  ),
  'purple': (
    900: rgb(88, 28, 135),
    800: rgb(107, 33, 168),
    700: rgb(126, 34, 206),
    600: rgb(147, 51, 234),
    500: rgb(168, 85, 247),
    400: rgb(192, 132, 252),
    300: rgb(216, 180, 254),
    200: rgb(233, 213, 255),
    100: rgb(243, 232, 255),
  ),
  'fuchsia': (
    900: rgb(112, 26, 117),
    800: rgb(134, 25, 143),
    700: rgb(162, 28, 175),
    600: rgb(192, 38, 211),
    500: rgb(217, 70, 239),
    400: rgb(232, 121, 249),
    300: rgb(240, 171, 252),
    200: rgb(245, 208, 254),
    100: rgb(250, 232, 255),
  ),
  'pink': (
    900: rgb(131, 24, 67),
    800: rgb(157, 23, 77),
    700: rgb(190, 24, 93),
    600: rgb(219, 39, 119),
    500: rgb(236, 72, 153),
    400: rgb(244, 114, 182),
    300: rgb(249, 168, 212),
    200: rgb(251, 207, 232),
    100: rgb(252, 231, 243),
  ),
  'rose': (
    900: rgb(136, 19, 55),
    800: rgb(159, 18, 57),
    700: rgb(190, 18, 60),
    600: rgb(225, 29, 72),
    500: rgb(244, 63, 95),
    400: rgb(251, 133, 133),
    300: rgb(253, 164, 175),
    200: rgb(254, 205, 211),
    100: rgb(255, 228, 230),
  ),
  'red': (
    900: rgb(127, 29, 29),
    800: rgb(153, 27, 27),
    700: rgb(185, 28, 28),
    600: rgb(220, 38, 38),
    500: rgb(239, 68, 68),
    400: rgb(248, 113, 133),
    300: rgb(252, 165, 165),
    200: rgb(254, 202, 202),
    100: rgb(254, 226, 226),
  ),
  'orange': (
    900: rgb(124, 45, 18),
    800: rgb(154, 52, 18),
    700: rgb(194, 65, 12),
    600: rgb(234, 88, 12),
    500: rgb(249, 115, 22),
    400: rgb(251, 146, 60),
    300: rgb(253, 186, 116),
    200: rgb(254, 215, 170),
    100: rgb(255, 237, 212),
  ),
  'amber': (
    900: rgb(120, 53, 15),
    800: rgb(146, 64, 14),
    700: rgb(180, 83, 9),
    600: rgb(217, 119, 6),
    500: rgb(245, 158, 11),
    400: rgb(251, 191, 36),
    300: rgb(252, 211, 77),
    200: rgb(253, 230, 138),
    100: rgb(254, 243, 199),
  ),
  'yellow': (
    900: rgb(113, 63, 18),
    800: rgb(133, 77, 14),
    700: rgb(161, 98, 7),
    600: rgb(202, 138, 4),
    500: rgb(234, 179, 8),
    400: rgb(250, 204, 21),
    300: rgb(253, 224, 71),
    200: rgb(254, 240, 138),
    100: rgb(254, 249, 195),
  ),
  'lime': (
    900: rgb(54, 83, 20),
    800: rgb(63, 98, 18),
    700: rgb(77, 124, 15),
    600: rgb(101, 163, 13),
    500: rgb(132, 204, 22),
    400: rgb(163, 230, 53),
    300: rgb(190, 242, 100),
    200: rgb(217, 249, 157),
    100: rgb(236, 252, 203),
  ),
  'life': (
    900: rgb(20, 95, 45),
    800: rgb(26, 129, 60),
    700: rgb(54, 154, 87),
    600: rgb(64, 169, 99),
    500: rgb(89, 182, 120),
    400: rgb(136, 213, 163),
    300: rgb(182, 232, 189),
    200: rgb(207, 242, 202),
    100: rgb(223, 251, 219),
  ),
  'green': (
    900: rgb(20, 83, 45),
    800: rgb(22, 101, 52),
    700: rgb(21, 128, 61),
    600: rgb(22, 163, 74),
    500: rgb(34, 197, 94),
    400: rgb(74, 222, 128),
    300: rgb(134, 239, 172),
    200: rgb(187, 247, 208),
    100: rgb(220, 252, 231),
  ),
  'emerald': (
    900: rgb(6, 78, 59),
    800: rgb(6, 95, 70),
    700: rgb(4, 120, 87),
    600: rgb(5, 150, 105),
    500: rgb(16, 185, 129),
    400: rgb(52, 211, 153),
    300: rgb(110, 231, 183),
    200: rgb(186, 243, 208),
    100: rgb(209, 250, 229),
  ),
  'teal': (
    900: rgb(19, 78, 74),
    800: rgb(17, 94, 89),
    700: rgb(15, 118, 110),
    600: rgb(13, 148, 136),
    500: rgb(20, 184, 166),
    400: rgb(45, 212, 191),
    300: rgb(94, 234, 212),
    200: rgb(151, 246, 228),
    100: rgb(204, 251, 241),
  ),
  'cyan': (
    900: rgb(22, 78, 99),
    800: rgb(21, 94, 117),
    700: rgb(14, 116, 144),
    600: rgb(8, 145, 178),
    500: rgb(6, 182, 212),
    400: rgb(34, 211, 238),
    300: rgb(103, 232, 249),
    200: rgb(165, 243, 252),
    100: rgb(207, 250, 254),
  ),
  'sky': (
    900: rgb(12, 74, 110),
    800: rgb(7, 89, 133),
    700: rgb(3, 105, 161),
    600: rgb(2, 132, 199),
    500: rgb(14, 165, 233),
    400: rgb(56, 189, 248),
    300: rgb(125, 211, 252),
    200: rgb(186, 230, 253),
    100: rgb(224, 242, 254),
  ),
  'blue': (
    900: rgb(30, 58, 138),
    800: rgb(30, 64, 175),
    700: rgb(29, 78, 216),
    600: rgb(37, 99, 235),
    500: rgb(59, 130, 246),
    400: rgb(96, 165, 250),
    300: rgb(147, 197, 253),
    200: rgb(191, 219, 254),
    100: rgb(219, 234, 254),
  ),
);
