$themes: (
  ocean: (
    --color-primary-100: var(--color-blue-100),
    --color-primary-200: var(--color-blue-200),
    --color-primary-300: var(--color-blue-300),
    --color-primary-400: var(--color-blue-400),
    --color-primary: var(--color-blue-500),
    --color-primary-600: var(--color-blue-600),
    --color-primary-700: var(--color-blue-700),
    --color-primary-800: var(--color-blue-800),
    --color-primary-900: var(--color-blue-900),
    --color-secondary: var(--color-cyan-500),
    --color-positive: var(--color-lime-500),
    --color-attention: var(--color-amber-500),
    --color-negative: var(--color-red-500),
  ),
  fire: (
    --color-primary-100: var(--color-orange-100),
    --color-primary-200: var(--color-orange-200),
    --color-primary-300: var(--color-orange-300),
    --color-primary-400: var(--color-orange-400),
    --color-primary: var(--color-orange-500),
    --color-primary-600: var(--color-orange-600),
    --color-primary-700: var(--color-orange-700),
    --color-primary-800: var(--color-orange-800),
    --color-primary-900: var(--color-orange-900),
    --color-secondary: var(--color-cyan-500),
    --color-positive: var(--color-lime-500),
    --color-attention: var(--color-amber-500),
    --color-negative: var(--color-red-500),
  ),
);
