.light {
  --color-neutral-100: var(--color-gray-blue-100);
  --color-neutral-200: var(--color-gray-blue-200);
  --color-neutral-300: var(--color-gray-blue-300);
  --color-neutral-400: var(--color-gray-blue-400);
  --color-neutral-500: var(--color-gray-blue-500);
  --color-neutral-600: var(--color-gray-blue-600);
  --color-neutral-700: var(--color-gray-blue-700);
  --color-neutral-800: var(--color-gray-blue-800);
  --color-neutral-900: var(--color-gray-blue-900);
}

.dark {
  --color-neutral-100: var(--color-gray-blue-900);
  --color-neutral-200: var(--color-gray-blue-800);
  --color-neutral-300: var(--color-gray-blue-700);
  --color-neutral-400: var(--color-gray-blue-600);
  --color-neutral-500: var(--color-gray-blue-500);
  --color-neutral-600: var(--color-gray-blue-400);
  --color-neutral-700: var(--color-gray-blue-300);
  --color-neutral-800: var(--color-gray-blue-200);
  --color-neutral-900: var(--color-gray-blue-100);
}
