$appearances: (
  light: (
    color: var(--color-neutral-100),
  ),
  dark: (
    color: var(--color-neutral-900),
  ),
  primary: (
    color: var(--color-primary),
  ),
  secondary: (
    color: var(--color-secondary),
  ),
  positive: (
    color: var(--color-positive),
  ),
  attention: (
    color: var(--color-attention),
  ),
  negative: (
    color: var(--color-negative),
  ),
);

$sizes: (
  l: (
    iconsize: 20px,
  ),
  m: (
    iconsize: 16px,
  ),
  s: (
    iconsize: 14px,
  ),
);

.icon {
  --button-icon-size: #{map-get($sizes, 'm', 'iconsize')};

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  flex-shrink: 0;

  svg {
    width: var(--button-icon-size);
    height: var(--button-icon-size);

    path {
      fill: var(--icon-fill-color);
    }
  }
}

@each $appearance in map-keys($appearances) {
  .#{'' + $appearance} {
    --icon-fill-color: #{map-get($appearances, $appearance, 'color')};
  }
}

@each $size in map-keys($sizes) {
  .size_#{'' + $size} {
    --button-icon-size: #{map-get($sizes, $size, 'iconsize')};
  }
}
