@use '../../common/scss/' as vars;

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 56px;
  height: 100vh;
  background-color: var(--color-primary);
  transition: width #{map-get(vars.$transitions, 'sidebar')};
  overflow: hidden;

  &_opened {
    width: #{map-get(vars.$widths, 'sidebar')};
  }

  .block {
    display: flex;
    flex-direction: column;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .tab {
      position: relative;
      width: 100%;
      transition: #{map-get(vars.$transitions, 'sidebar')};

      &_active {
        width: calc(100% - 16px);
      }
    }

    .navlink {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 16px;
      width: 100%;
      text-align: left;
      padding: 0 16px;
      height: 56px;
      border-radius: 16px 0 0 16px;
      text-decoration: none;
      transition: #{map-get(vars.$transitions, 'sidebar')};

      font-size: 20px;
      font-weight: 600;
      color: var(--color-neutral-100);

      &_active {
        position: relative;
        background-color: var(--color-neutral-100);

        color: var(--color-neutral-900);
      }

      &:not(.navlink_active) {
        &:hover {
          color: var(--color-neutral-200);
        }

        &:active {
          color: var(--color-neutral-300);
        }
      }
    }
  }

  .menuButton {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    width: 100%;
    height: 56px;
    text-align: left;
    padding: 0 16px;
    color: var(--color-neutral-100);

    &_mb {
      margin-bottom: 32px;
    }

    svg {
      transition: #{map-get(vars.$transitions, 'sidebar')};
    }

    &_active {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}
