@use './common/scss/' as vars;

.layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-neutral-100);

  .outlet {
    width: 100%;

    & > main {
      padding: 32px;
    }
  }
}
